# Ignore Mac system files
.DS_store
~*

__pycache__/

# Ignore .mypy_cache directory
*.mypy_cache

# Ignore pyenv version
.python-version

# it depends on the OS
Pipfile.lock

# Ignore sqllit
.src/plotly_figs_

# Ignore Jupyter checkpoint
.ipynb_checkpoints
